//COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark : #777;
$color-white: #fff;
$color-black: #000;
$color-blue-1:#1877f2;
$color-blue: rgb(10, 10, 148);
$color-green-1: green;

//GRID
$grid-width:114rem;
$gutter-vertical: 1rem;
$gutter-horizontal:1rem;