*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'inherit';
  font-weight: 400;
  line-height: 1.7;
  background-color: #eee; }

.profilename {
  color: #000;
  font-size: 2rem;
  font-weight: 600; }
  .profilename--1 {
    font-size: 1.5rem;
    color: #000;
    font-weight: 550;
    margin-left: 1rem; }

.post__title {
  font-size: 2rem;
  color: #000; }

.like__anchor,
.comment__anchor {
  text-decoration: none;
  color: #777;
  font-size: 2rem; }

.post__likes {
  font-size: 1.4rem;
  float: left; }

.post__comments {
  font-size: 1.4rem;
  float: right; }

.create-post__postanchor {
  text-decoration: none;
  color: #fff; }

.header {
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 1px solid #eee;
  margin: 1rem; }

.top_bottom_border {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777; }

.u_align_text_center {
  text-align: center; }

.padding-5 {
  padding: .5rem; }

.border-5 {
  border-radius: .5rem; }

.text-white {
  color: #fff; }

.border-bottom {
  border-bottom: 1px solid #eee;
  padding-bottom: 1.3rem; }

.remove-textdecoration {
  text-decoration: none; }

.u-margin-right {
  margin-right: 1rem; }

.border-2 {
  border-radius: 2px; }

.btn {
  width: 90%;
  border-radius: 5px;
  margin: 1rem 3rem;
  text-align: center;
  font-size: 2rem; }
  .btn-blue {
    background-color: #1877f2; }
    .btn-blue:active {
      transform: scale(0.98); }
    .btn-blue-1 {
      display: inline-block;
      margin-left: 8rem;
      text-decoration: none;
      width: auto;
      background-color: #1877f2;
      padding: 1.3rem;
      border-radius: 5px; }
  .btn-anchorgreen {
    margin-left: 8rem;
    width: 28rem;
    background-color: green;
    padding: 1rem;
    border-radius: 5px; }

.login-form {
  height: auto;
  width: 50rem;
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }
  .login-form__email {
    height: 4rem;
    margin: 1rem 1rem;
    width: 90%;
    background-color: #eee;
    border-radius: 1rem;
    outline: none;
    border: none;
    padding: 2rem; }
  .login-form__password {
    height: 4rem;
    margin: 1rem 1rem;
    width: 90%;
    background-color: #eee;
    border-radius: 1rem;
    outline: none;
    border: none;
    padding: 2rem; }
  .login-form__forgotpassword {
    text-decoration: none;
    font-size: 1.5rem;
    color: #1877f2; }
  .login-form__login {
    text-decoration: none; }
  .login-form__anchorgreen {
    text-decoration: none;
    color: #fff;
    background-color: green;
    padding: 1rem;
    border-radius: 5px; }

.signup {
  height: auto;
  width: 50rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }
  .signup__heading {
    margin-left: 2rem;
    font-size: 3rem; }
  .signup__paragraph {
    font-size: 1.4rem;
    margin-left: 2rem; }
  .signup__inputs {
    border-top: 1px solid #f7f7f7;
    padding: 1rem; }
    .signup__inputs__firstname, .signup__inputs__lastname {
      height: 5rem;
      width: 42.5%;
      background-color: #eee;
      border-radius: 1rem;
      margin: 1rem 1rem;
      outline: none;
      border: none;
      padding: 2rem; }
    .signup__inputs__email, .signup__inputs__password, .signup__inputs__birthday {
      height: 5rem;
      margin: 1rem 1rem;
      width: 90%;
      background-color: #eee;
      border-radius: 1rem;
      outline: none;
      border: none;
      padding: 2rem; }
    .signup__inputs__gender {
      display: inline-block;
      font-size: 1.5rem;
      height: 5rem;
      width: 26.5%;
      background-color: #eee;
      border-radius: 1rem;
      margin: 1rem 1rem;
      outline: none;
      border: none;
      padding: 0.9rem; }
      .signup__inputs__gender__checkbox {
        margin-left: 2rem; }

.profile {
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out; }
  .profile_section {
    height: 55rem;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), white 50%);
    display: flex;
    flex-direction: column; }
  .profile_information {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
    .profile_information_intro {
      width: 40rem;
      position: sticky;
      -webkit-position: sticky;
      top: 0; }
    .profile_information__posts {
      margin-left: -4rem; }
  .profile_row {
    display: flex;
    justify-content: center; }
  .profile__cover {
    border-radius: 1.2rem;
    width: 95rem;
    height: 39rem;
    margin: 0 auto; }
    .profile__cover-1 {
      border-radius: 1.2rem;
      width: 100%;
      height: 39rem; }
  .profile__profilepicture {
    display: flex; }
  .profile__profilepicture-1 {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-top: -5rem;
    padding: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    backface-visibility: hidden; }
  .profile__photos {
    width: 9rem;
    height: 9rem;
    border-radius: 1rem; }
    .profile__photos__heading {
      font-size: 2.6rem; }
    .profile__photos__paragraph {
      font-size: 1.7rem;
      color: #777; }
    .profile__photos__profile-name {
      font-size: 1.4rem;
      font-weight: 600; }
  .profile__name {
    margin-left: 1rem; }
    .profile__name__heading {
      font-size: 3rem; }
    .profile__name__paragraph {
      font-size: 2rem; }
  .profile__button {
    margin-left: 10rem; }
  .profile_intro__icon {
    color: #777;
    width: 4px;
    margin-right: 3rem; }
  .profile_intro__paragraph {
    padding: 1rem;
    font-size: 1.5rem; }
  .profile_intro__paragraph-1 {
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #f7f7f7;
    text-align: center; }
  .profile_container {
    width: 35rem;
    background-color: #fff;
    margin: 1rem;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.home {
  width: 100%;
  display: flex;
  -webkit-display: flex;
  position: relative;
  justify-content: space-between; }
  .home_1 {
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0; }
  .home_left {
    padding: 2px; }
  .home_left:hover {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: sticky;
    -webkit-position: sticky; }
    .home_left:hover::-webkit-scrollbar {
      width: 8px;
      border-radius: 8px;
      background-color: #eee; }
    .home_left:hover::-webkit-scrollbar-thumb {
      background-color: #eee;
      width: 8px;
      background-color: #eee;
      border-radius: 25px; }
    .home_left:hover:hover::-webkit-scrollbar {
      width: 8px;
      background-color: #eee; }
    .home_left:hover:hover::-webkit-scrollbar-thumb {
      background-color: grey;
      width: 8px; }
  .home_2 {
    width: 50%;
    margin-left: 33%; }
  .home_middle {
    place-items: center; }
  .home_3 {
    width: 19%;
    position: fixed;
    right: 0;
    margin: 2rem; }
  .home_right:hover {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden; }
    .home_right:hover::-webkit-scrollbar {
      width: 8px;
      border-radius: 8px;
      background-color: #eee; }
    .home_right:hover::-webkit-scrollbar-thumb {
      background-color: #eee;
      width: 8px;
      background-color: #eee;
      border-radius: 25px; }
    .home_right:hover:hover::-webkit-scrollbar {
      width: 8px;
      background-color: #eee; }
    .home_right:hover:hover::-webkit-scrollbar-thumb {
      background-color: grey;
      width: 8px; }

.post {
  background-color: #fff;
  height: auto;
  width: 50rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 2rem; }
  .post::after {
    content: "";
    display: table;
    clear: both; }
  .post__comments, .post__likes {
    color: #000; }
  .post__profilepicture {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-size: cover;
    float: left; }
    .post__profilepicture__comment {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      background-size: cover;
      float: left; }
    .post__profilepicture__addcomment {
      padding: 1rem;
      height: 4rem;
      margin-left: 1rem;
      width: 85%;
      background-color: #eee;
      border-radius: 1rem;
      outline: none;
      border: none; }
  .post__time {
    color: #000;
    font-size: 1.2rem;
    margin-left: 0.5rem; }
  .post__postimage {
    height: 38rem;
    margin-left: -1.5rem; }
    .post__postimage--1 {
      width: 50rem;
      background-size: cover; }

.like,
.comment {
  width: 100%; }

.like:hover {
  background-color: #eee; }

.comment:hover {
  background-color: #eee; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem)/3); }
  .row .col-2-of-3 {
    width: calc( 2*((100% - 2 * 1rem)/ 3) + 1rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem)/4); }
  .row .col-2-of-4 {
    width: calc( 2*((100% - 3 * 1rem)/ 4) + 1rem); }
  .row .col-3-of-4 {
    width: calc( 3*((100% - 3 * 1rem)/ 4) + 2 * 1rem); }

.post-comment {
  padding: 0rem;
  margin: 2rem; }

.comment__user {
  background-color: #f7f7f7;
  display: inline-block;
  width: 60%;
  margin-left: 1rem;
  border-radius: 2rem;
  max-width: 60rem;
  width: auto; }
  .comment__user__text {
    color: #000;
    font-size: 1.7rem;
    margin: 0 1.5rem; }

.create-post {
  padding: 5px;
  height: auto;
  width: 40rem;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 10rem;
  left: 38%;
  z-index: 1; }
  .create-post__seen {
    width: 4rem;
    display: inline-block;
    margin-left: .5rem;
    padding: 0rem;
    height: auto;
    font-size: 1.2rem;
    border-radius: .5rem;
    background-color: #777; }
  .create-post__textarea {
    display: block;
    margin: 1rem;
    width: 38rem;
    outline: none;
    background-color: #fff;
    border: none;
    font-size: 2rem;
    height: 40px; }
  .create-post__add-photo {
    width: 35rem;
    height: 5rem;
    border: 1px solid black;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 auto;
    border-radius: .5rem; }
  .create-post__post {
    margin: 1rem auto; }

.header {
  display: flex;
  place-items: center;
  justify-content: space-between; }
  .header__title {
    margin-left: 13rem; }
  .header__right {
    font-size: 3rem;
    background-image: linear-gradient(to right, #000, #000);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer; }

.contact {
  height: 5rem;
  width: 100%;
  display: flex;
  background-color: none;
  align-items: center;
  border-radius: 5px;
  padding-left: 1rem; }
  .contact__image {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    box-shadow: 0 0.5rem 0.5rem rgba(247, 247, 247, 0.2); }
  .contact__name {
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: bold; }
  .contact:hover {
    background-color: #f7f7f7; }

.navbar_1 {
  background-color: #fff;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  z-index: 1; }
  .navbar_1_icons {
    color: #000;
    font-size: 2.5rem;
    margin: 0 .4rem; }
    .navbar_1_icons:hover {
      cursor: pointer; }
  .navbar_1_icon {
    color: #000;
    font-size: 2.5rem;
    margin: 0 1.2rem;
    background-color: #f7f7f7;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding-left: 0.7rem; }
    .navbar_1_icon:hover {
      cursor: pointer; }
  .navbar_1_left {
    width: 33%;
    margin-left: 1rem; }
    .navbar_1_left_logo {
      background-image: linear-gradient(to right, #1877f2, #0a0a94);
      -webkit-background-clip: text;
      color: transparent; }
    .navbar_1_left_searchbox {
      height: 3rem;
      border: none;
      outline: none;
      background-color: #f7f7f7;
      border-radius: 3rem;
      font-size: 1.3rem;
      padding: 1rem; }
  .navbar_1_middle {
    width: 33%;
    padding-left: 1.5rem;
    place-items: center; }
  .navbar_1_right {
    width: 33%; }
    .navbar_1_right_right {
      float: right; }
  .navbar_1__profilepicture {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-top: .6rem; }
  .navbar_1_gotoprofile {
    display: flex;
    font-size: 1.2rem;
    color: #000; }
  .navbar_1_btn_name {
    margin-top: 1rem;
    text-decoration: none; }

ul {
  list-style: none;
  display: flex;
  justify-content: flex-start; }

.createPost {
  width: 50rem;
  padding: 1.5rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }
  .createPost__profilePicture {
    width: 3rem;
    height: 3rem;
    border-radius: 50%; }
  .createPost__textInput {
    margin: 1rem;
    height: 3rem;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
    width: 44rem;
    padding: 1rem;
    font-size: 1.4rem; }
