.navbar_1{
    background-color: $color-white;
    height:5rem;
    width:100%;
    display:flex;
    justify-content:space-between;
    position: sticky;
    -webkit-position:sticky;
    top:0;
    z-index:1;
    &_icons{
      color:$color-black;
      font-size:2.5rem;
      margin:0 .4rem; 
      
      
    //   -webkit-background-clip: text;
    // color: transparent;

      
      &:hover{
          cursor:pointer;
      } 
    }
    &_icon{
        color:$color-black;
        font-size:2.5rem;
        margin:0 1.2rem; 
        background-color:$color-grey-light-1;
        width:4rem;
        height:4rem;
        border-radius:50%;
        padding-left:0.7rem;
        &:hover{
            cursor:pointer;
        } 
    }
    &_left{
        width:33%;
        margin-left:1rem;
        &_logo{
            background-image: linear-gradient(to right, $color-blue-1, $color-blue);
            -webkit-background-clip: text;
            color: transparent;

        }
        &_searchbox{
            height:3rem;
            border:none;
            outline: none;
            background-color:$color-grey-light-1;
            border-radius: 3rem;
            font-size:1.3rem;
            padding:1rem;
        }
    }
    &_middle{
        width:33%;
        padding-left:1.5rem;
        
    }
    &_right{
        width:33%;
        &_right{
            float:right;
        }
       
    }
    &__profilepicture{
        height:4rem;
        width:4rem;
        border-radius: 50%;
        margin-top:.6rem;
    }
    &_gotoprofile{
        display:flex;
        font-size:1.2rem;
        color:$color-black;
    }
    &_btn_name{
        margin-top:1rem;
        text-decoration:none;
    }

}
ul{
    list-style:none;
    display:flex;
    justify-content: flex-start;
    
}