.profile{
    margin-left: 10rem;
    position: relative;
    height: 100%;
    transition: all 0.2s;
    &_section{
        height:70vh;
        width:100%;
        background-image: linear-gradient(rgba($color-black, 0.2), rgba($color-white, 1) 50%);
    }
    &_information{
        position:sticky;
        -webkit-position: sticky;
        top:0;
        width:40rem;
        left:25rem;
        height:auto;
       
       
    }
    &__posts{
        position:absolute;
        top: 52rem;
        left:61rem;
    }
    &__cover{
        border-radius:1.2rem;
        width:80%;
        height:50vh;
        margin:0 auto;
    }
    &__profilepicture-1{
        
        width:20rem;
        height:20rem;
        border-radius: 50%;
        margin-top:-7rem;
        margin-left:22rem;
        padding: 1rem;
        background-color: $color-white;
        // &:after{
        //     width:25rem;
        //     height:25rem;
        //     border-radius: 50%;
        //     margin-top:-7rem;
        //     margin-left: 10rem;
        //     background-color: $color-white;
        // }
        
    }
    &__photos{
        width:10rem;
        height:10rem;
        border-radius: 1rem;
        &__heading{
            font-size:2.6rem;
        }
        &__paragraph{
            font-size:1.7rem;
            color:$color-grey-dark;
        }
        &__profile-name{
            font-size:1.4rem;
            font-weight:600;
        }
     
    }
    &__name{
       position:absolute;
       top:39rem; 
       left: 45rem;
       &__heading{
           font-size:3rem;
       }
       &__paragraph{
           font-size: 2rem;
       }
    }
    &__button{
        position:absolute;
        top:39rem;
        right:40rem;
    }
    &_container{
        width:35rem;
        background-color:$color-white;
        height:auto;
        padding:1rem;
        margin:1rem;
        border-radius: 2rem;
        box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.2);
    }
    &_intro{
        
        &__icon{
            color:$color-grey-dark;
            width:4px;
            margin-right: 3rem;
        }
        &__paragraph{
            padding: 1rem;
            font-size:1.5rem;
        }
        &__paragraph-1{
            padding: 1rem;
            font-size:1.5rem;
            border-bottom: 1px solid $color-grey-light-1;
            text-align: center;
        }
    }
    

}