.profile {
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
  &_section {
    height: 55rem;
    width: 100%;
    background-image: linear-gradient(
      rgba($color-black, 0.2),
      rgba($color-white, 1) 50%
    );
    display: flex;
    flex-direction:column;
   
  }
  &_information {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    &_intro {
      width: 40rem;
      position: sticky;
      -webkit-position: sticky;
      top: 0;
    }
    
  }
  &_row{
    display: flex;
    justify-content: center;

  }

  &__cover {
    border-radius: 1.2rem;
    width: 80%;
    height: 39rem;
    margin: 0 auto;
  
    &-1
    {
      border-radius: 1.2rem;
      width: 100%;
    height: 39rem;
    }
    
  }
  &__profilepicture {
    display: flex;
  }
  &__profilepicture-1 {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-top: -5rem;
    padding: 0.5rem;
    background-color: $color-white;
    backface-visibility: hidden;

    // &::after{
    //     width:24rem;
    //     height:24rem;
    //     border-radius: 50%;
    //     background-color: $color-white;
    // }
  }
  &__photos {
    width: 9rem;
    height: 9rem;
    border-radius: 1rem;
    &__heading {
      font-size: 2.6rem;
    }
    &__paragraph {
      font-size: 1.7rem;
      color: $color-grey-dark;
    }
    &__profile-name {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
  &__name {
    margin-left: 1rem;
    &__heading {
      font-size: 3rem;
    }
    &__paragraph {
      font-size: 2rem;
    }
  }
  &__button {
    margin-left: 10rem;
  }
  &_intro{
        
    &__icon{
        color:$color-grey-dark;
        width:4px;
        margin-right: 3rem;
    }
    &__paragraph{
        padding: 1rem;
        font-size:1.5rem;
    }
    &__paragraph-1{
        padding: 1rem;
        font-size:1.5rem;
        border-bottom: 1px solid $color-grey-light-1;
        text-align: center;
    }
}
&_container{
    width:35rem;
    background-color:$color-white;
    margin:1rem;
    height:auto;
    padding:1rem;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.2);
}
}
