.top_bottom_border{
    border-top: 1px solid $color-grey-dark;
    border-bottom: 1px solid $color-grey-dark;
}
.u_align_text_center{
    text-align: center;
}
.padding-5{
    padding:.5rem;
}
.border-5{
    border-radius: .5rem;
}
.text-white{
    color: $color-white;
}
.border-bottom{
    border-bottom: 1px solid $color-grey-light-2;
    padding-bottom: 1.3rem;
}
.remove-textdecoration{
    text-decoration: none;
}
.u-margin-right{
    margin-right:1rem;
}
.border-2{
    border-radius:2px;
}


