.create-post{
    padding:5px;
    height:auto;
    width:60rem;
    border-radius:.5rem;
    background-color: $color-white;
    box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.2);
    &__seen{
        width:4rem;
        display:inline-block;
        margin-left:.5rem;
        
        padding:0rem;
        height:auto;
        font-size:1.2rem;
        border-radius:.5rem;
        background-color:$color-grey-dark;

    }
    &__textarea{
        display:block;
        margin:1rem;
        width:58rem;
        outline:none;
        background-color: $color-grey-light-2;
        border:none;
        font-size:2rem;
        height: auto;

    }
    &__add-photo{
        width:54rem;
        height:5rem;
        border: 1px solid black;
        font-size:2rem;
        font-weight:500;
        margin:0 3rem;
        border-radius:.5rem;
    }
}